fastapi[standard]
uvicorn[standard]
sqlmodel
sqlalchemy[asyncio]
asyncpg
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.0
python-multipart
mistralai
pytest
datauri
openai
Jinja2
pydantic_settings
redis
langchain
langchain-community
langchain-openai
langchain-core